body {
    background:url('../images/background.jpg') rgb(0, 0, 0) 0 no-repeat;
    overflow-x:hidden;
    background-size: cover;
    font-family : 'Roboto', sans-serif;
}

/* --------------------------------------
Global Typography
------------------------------------------*/

.title h1 {
    font-size:40px;
    margin-top:30px;
    color:#fff;
    text-align:center;
    font-family:Roboto;
}

.welcome {
    text-align: center;
}

p {
    font-family:Roboto;
    color:#fff;
}

ul.social-network {
    font-size: 30px;
    list-style:none;
    margin-top:40px;
    margin-bottom:10px;
    padding:10px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

ul.social-network li {
    display:inline;
    margin: 0 18px;
}

ul.social-network li a {
    color:#d0d0d0;
}
.social-network li:hover .fa-twitter {
    color: #00abf0;
}
.social-network li:hover .fa-facebook {
    color: #39579a;
}
.social-network li:hover .fa-google-plus {
    color: #eb8984;
}
.social-network li:hover .fa-pinterest {
    color: #c9171e;

}
.social-network li:hover .fa-linkedin {
    color: #0077b5;
}
.social-network li:hover .fa-youtube-play {
    color: #C84941;
}
.social-network li:hover .fa-dribbble {
    color: #EA4C89 ;
}
.social-network li:hover .fa-pinterest-square {
    color: #EA4B49;
}

#loading {
    text-align: center;
    margin: 10px;
    display: none;
    position: absolute;
    width: 100%;
    top: 60px;
}

.copyright {
    color:#fff;
    font-size:18px;
    margin-top:10px;
    margin-bottom:10px;
    text-shadow:none;
    font-family:Roboto;
}

.copyright a {
    text-decoration:none;
    color: rgba(220, 233, 226, 0.82);
}

.copyright a:hover {
    text-decoration:none;
}
/* --------------------------------------
LINK STYLE
------------------------------------------*/
a {
    color              : white;
    text-decoration    : none;
    -webkit-transition : all 0.3s ease 0s;
    -moz-transition    : all 0.3s ease 0s;
    -o-transition      : all 0.3s ease 0s;
    transition         : all 0.3s ease 0s;
}

a,
a:active,
a:focus,
a:active {
    text-decoration : none;
    outline         : none
}

a:hover,
a:focus {
    text-decoration : none;
}


ul {
    margin     : 0;
    padding    : 0;
    list-style : none;
}


/* --------------------
   Section Background
   -------------------*/

.gray-bg {
    background-color : #f9f9f9;
}

.white-bg {
    background-color : #fff;
}


/* --------------------
   main Wrapper
   -------------------*/
#main-wrapper{
    background: #fff;
}

/*Button Style*/
.btn {
    padding        : 10px 30px;
    margin-bottom  : 0;
    font-size      : 13px;
    border-radius  : 0;
    text-transform : uppercase;
}

/*btn-primary*/
.btn-primary {
    background-color : #196F3D;
    border-color     : #196F3D;
}

.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open > .dropdown-toggle.btn-primary {
    background-color : #2ECC71;
    border-color     : #2ECC71;
}

/*btn-default*/
.btn-default {
    color            : #313131;
    background-color : transparent;
    border-color     : #313131;
}

.btn-default.active,
.btn-default.focus,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open > .dropdown-toggle.btn-default {
    color            : #2ECC71;
    background-color : #ffffff;
    border-color     : #ffffff;
}
/* --------------------------------------------
    Page Title
----------------------------------------------- */

.single-page-title::before{
    position: absolute;
    content: "";
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);
}

.single-page-title h2 {
    display        : inline-block;
    font-size      : 72px;
    text-transform : uppercase;
    font-weight    : 700;
    margin-bottom  : 0;
    color          : #fff;
    position: relative;
    z-index: 1;
}

/*------------------
  FORM STYLE
  -------------------- */
.form-group {
    margin-bottom: 20px;
}
.form-control {
    height: 53px;
    padding: 6px 20px 6px 30px;
    font-size: 13px;
    line-height: 24px;
    color: #969595;
    border: 2px solid #F1F1F1;
    border-radius: 0;
    box-shadow: none;
}
.form-control:focus {
    border: 2px solid #2ECC71 !important;
    box-shadow: none;
}


/*---------------
 Contact Form
 -----------------*/

.contact-form  {}
.contact-form  h2{
    line-height: 36px;
    margin-bottom: 45px;
}

.user-message textarea {
    min-height: 271px;
    padding-top: 12px;
}
.contact-form form button {
    margin-top: 10px;
}


.user-name,
.user-email,
.user-phone,
.user-url,
.user-subject,
.user-message{
    position: relative;
}
.user-name::after,
.user-email::after,
.user-phone::after,
.user-url::after,
.user-subject::after,
.user-message::after {
    position: absolute;
    left: 15px;
    top: 15px;
    font-family: "FontAwesome";
    color: #dadada;
}

.user-name::after {
    content: "\f007";
}
.user-email::after {
    content: "\f003";
}
.user-phone::after {
    content: "\f095";
}
.user-url::after {
    content: "\f0ac";
}
.user-subject::after {
    content: "\f040";
}
.user-message::after {
    content: "\f086";
}

a:hover{
    color: #ffffff;
}

.hideoverflow {
    overflow: hidden;
}